*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
}

.outer{
   color: white;

   position: absolute;
   margin: 10px;
   padding: 10px;
   top: 35%;
   left: 30%;
  
}
.card{
    background-color: black;
}

.date h2  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}